.qhx-dropdown{
	position:absolute;
	left:0px;top:33px;overflow-y:scroll;;right:0;z-index:99;border-bottom-left-radius:6px;border-bottom-right-radius:6px;
  border-bottom:1px solid #eee;
    &-hide{
       height:0px;       transition:all .2s ease-in;
    }
    &-show{
       transition:all .2s ease-in;
    }
    & > ul{
      background:#fff;
      width:100%;
      cursor:pointer;
      & > li{
         padding:0px 10px;
         height:30px;
         display:flex;align-items:center;
         position:relative;
         border:1px solid #eee;border-bottom:none;border-top:none;border-top:none;
         &:after{
            content:'';
            position:absolute;
            left:0;right:0;
            bottom:0;
         }
         &:last-child{
            
         }
         &:hover{
            background:rgb(230,247,255)
         }
      }
    }
}
