.qhx-dropdown{
	position:absolute;
	left:10px;top:20px;overflow:hidden;
    &-hide{
       height:0;       transition:height .3s ease-in;
    }
    &-show{
       min-height:50px;
       transition:height .3s ease-in;
    }
    & ul{
      background:#fff;
      width:100%;
      & li{
         padding:10px 20px;
         position:relative;
         &:after{
            content:'';
            position:absolute;
            left:0;right:0;
            bottom:0;border-bottom:1px solid #eee;
         }
      }
    }
}
