.qhx-dropdown{
	position:absolute;
	left:10px;top:20px;overflow:hidden;border:1px solid #eee;border-radius:6px;
    &-hide{
       height:0px;       transition:all .3s ease-in;
    }
    &-show{
       height:260px;
       transition:all .3s ease-in;
    }
    & ul{
      background:#fff;
      width:100%;
      & li{
         padding:10px 20px;
         position:relative;
         &:after{
            content:'';
            position:absolute;
            left:0;right:0;
            bottom:0;border-bottom:1px solid #eee;
         }
      }
    }
}
