.test{
  position:absolute;left:0;right:0;top:0;bottom:0;
  & img{
     position:absolute;
     right:0;left:0;top:0;
  }
}
.qhx-carouset{
    width:100%;
    background:#eee;
    position:absolute;left:0;right:0;top:0;bottom:0;
    width:100%;overflow:hidden;

    & > ul{
       width:100%;
       overflow:hidden;
      & > li{
         list-style:none;
         position:absolute;overflow:hidden;
         left:0;top:0;width:100%;
		     & img{
          -webkit-use-select:none;
          use-select:none;
	       }
      }
    }

}
.carouset-arrow{
	position:absolute;
	z-index:100; background:rgba(0,0,0,0);
  top:50%;padding:16px 16px;
  margin-top:-18px;

  &.arrow-enable:hover{
     cursor:pointer;
     background:rgba(0,0,0,.2);
  }
  &.arrow-left-disable,
  &.arrow-right-disable{
     cursor:pointer;
  }
	&-left{
      left:20px;

	}
	&-right{
      right:20px;
	}

}
.qhx-carouset-indicator{
	position:absolute;
	bottom:30px;
	left:50%;
	z-index:100;
    display:inline-flex;
    align-items:center;
	&-dot{
       position:relative;
       width:8px;
       height:8px;
       border-radius:50%;
       background:#fff;
       margin-left:10px;
       &:before{
         content:'';
         position:relative;
         border-radius:50%;
         background:#fff;
       }
	}
}

.inner{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}